{% extends 'layout/layout.html.twig' %}

{% block content %}
    <div class="row">
        <h2>Modules Manager</h2>
        <div class="block col s6">
            <h3>Modules ( {{ modules | length }} )</h3>
            {% if modules | length > 0 %}
                <div class="collection scroller-card">
                    {% for module in modules %}
                        <form method="POST" action="/backoffice/module/{{ module.id }}/remove">
                            <li class="collection-item avatar">
                                <img src="{{ module.imageUrl }}" alt="" class="circle">
                                <span class="title"><b>{{ module.name | upper }}</b></span>
                                <p>
                                    {{ module.description }}
                                </p>
                                <button class="btn waves-effect waves-light secondary-content" type="submit" name="action">
                                    Remove
                                    <i class="material-icons right">delete</i>
                                </button>
                            </li>
                        </form>
                    {% endfor %}
                </div>
            {% endif %}
        </div>
        <div class="block col s6">
            <h3>Add Module</h3>
            <form method="POST" action="/backoffice/module/new">
                <div class="row">
                    <div class="input-field col s6">
                        <i class="material-icons prefix">person_pin</i>
                        <input id="icon_prefix" type="text" class="validate" name="name">
                        <label for="icon_prefix">Name</label>
                    </div>
                    <div class="input-field col s6">
                        <i class="material-icons prefix">perm_media</i>
                        <input id="icon_prefix" type="text" class="validate" name="image_url">
                        <label for="icon_prefix">Image URL</label>
                    </div>
                </div>
                <div class="row">
                    <div class="input-field col s12">
                        <i class="material-icons prefix">textsms</i>
                        <textarea id="textarea" class="materialize-textarea" name="description"></textarea>
                        <label for="textarea">Description</label>
                    </div>
                </div>
                <div class="row">
                    <div class="input-field col s12">
                        <i class="material-icons prefix">http</i>
                        <input id="icon_prefix" type="text" class="validate" name="callback">
                        <label for="icon_prefix">Callback URL</label>
                    </div>
                </div>
                <div class="row">
                    <div class="input-field col col s12">
                        <button class="btn waves-effect waves-light secondary-content" type="submit" name="action">
                            Send
                            <i class="material-icons right">send</i>
                        </button>
                    </div>
                </div>
            </form>
        </div>
    </div>
{% endblock %}